p.text-black-50 {
    font-size: 15px;
    color: black;
}

.d-flex span {
    font-size: 18px;
}

h3.mr-4 {
    font-size: 26px;
}

.deactive.active.bookingPage__seat.d-flex.justify-content-center.align-items-center.rounded {
    cursor: not-allowed;
    border: 1px solid;
    background-color: red;
    padding: 4px 7px;
}

.deactive.bookingPage__seat.d-flex.justify-content-center.align-items-center.rounded {
    cursor: pointer;
    border: 1px solid;
    background-color: white;
    padding: 4px 7px;
}

.moviePage__table--list.border-bottom a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.moviePage__table--list.border-bottom {
    cursor: pointer;
}

.tie a {
    color: black;
    text-decoration: none;
}

.tie a:hover {
    color: black;
    text-decoration: none;
}

.benphai11 a {
    color: white;
    text-decoration: none;
}

.benphai11 a:hover {
    color: white;
    text-decoration: none;
}


.benphai444.col {
    display: -webkit-box;
}

p.text-info {
    color: black;
}

button.bookingPage__btn {
    padding: 4px 12px;
    margin: 1px 12px;
}

.bookingPage__count {
    font-size: 23px;
}